.app {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin: 2rem;

    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;
    }
}

.listing {
    display: none;
    list-style: none;
}