.rivalry {
    font-size: 1.6rem;
    text-align: center;

    table {
        width: 100%;
    }

    td {
        width: 33.3%;
    }

    &__stats {
        margin-bottom: 3rem;
        border-radius: 6px;
        overflow: hidden;
        box-shadow: 0 1px 2px #ccc;
    }
    
    &__stat {
        padding: 2rem 1rem;
        background-color: #eee;

        &--streak {
            margin-bottom: 3rem;
            background-color: $streak;
        }
    }

    &__draws {
        display: block;
        font-size: 1.1rem;
    }

    &__pieWrap {
        width: 26rem;
        margin: auto;
    }

    &__players {
        position: relative;
        display: flex;

        .rivalry {
            &__stat {
                color: #eee;
                font-size: 2rem;
                font-weight: bold;
                text-transform: uppercase
            }

            &__player1 {
                background-color: $p1;
            }

            &__player2 {
                background-color: $p2;
            }
        }

        & + .rivalry__stat {
            padding-bottom: 0;
        }
    }

    &__versus {
        position: absolute;
        font-size: 1.4rem;
        color: #fff !important;
        background-color: transparent;
        transform: translateX( -50% );
    }

    &__results {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__result {
        margin-bottom: 1.4rem;
        padding: 1rem 0;
        font-size: 1.6rem;
        background-color: #f6f6f6;
        box-shadow: 0 1px 2px #ccc;
    }

    &__score {
        font-size: 2.2rem;
        font-weight: bold;
    }

    &__date {
        display: block;
        font-size: 1.4rem;
        color: #bbb;
    }

    &__addResult {
        margin-bottom: 3rem;

        input[type=number] {
            width: 5rem;
            padding: .6rem 0;
            text-align: center;
        }

        input[type=submit] {
            display: block;
            width: 14rem;
            margin: 2rem auto 0;
            padding: 1rem 0;
            background-color: $secondary-color;
            color: #fff;
            text-align: center;
            border-radius: 4px;
        }
    }
}