.rivalry {
    margin: 3rem 2rem 2rem 0;
    font-size: 1.6rem;
    text-align: center;

    @media only screen and (max-width: 700px) {
        margin-top: 0;
        margin-left: 2rem;
    }

    table {
        width: 100%;
    }

    td {
        width: 33.3%;
    }

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.6rem;
        font-weight: 700;
        text-transform: uppercase;

        img {
            height: 10rem;
            width: auto;
        }

        span {
            margin: 0 3rem;
        }

        @media only screen and  (max-width: 500px) {

            font-size: 1.8rem;

            img {
                height: 6rem;
            }
        }
    }

    &__stats {
        margin-bottom: 3rem;
        overflow: hidden;
        font-weight: 700;
        background-color: #585858;
        border-radius: 6px;
        box-shadow: 0 1px 18px #111;
    }
    
    &__stat {
        padding: 1rem;
        
        &--streak,
        &--highStreak {
            flex: 1;
        }

        &--streak {
            background-color: $streak;
        }

        &--highStreak {
            background-color: $highStreak;
        }

        &--biggest-win {

            span {
                font-size: 3rem;
            }
        
            span + span {
                margin-left: 30rem;

                @media only screen and (max-width: 500px) {

                    margin-left: 15rem;
                }
            }
        }

        &-row {
            display: flex;
            align-items: center;

            span:first-child,
            span:last-child {
                width: 10%;
            }

            span:nth-child(2) {
                width: 80%;
            }
        }

        &-row-inner {
            display: flex;
            border-radius: 2rem;
            overflow: hidden;
        }

        &-p1,
        &-p2 {
            display: inline-block;
            height: 1rem;
        }

        &-p1 {
            background-color: $p1;
        }

        &-p2 {
            background-color: $p2;
        }
    }

    &__streaks {
        display: flex;
        margin-bottom: 3rem;
        font-weight: 900;
        overflow: hidden;
        text-transform: uppercase;
        border-radius: 6px;
        box-shadow: 0 1px 18px #111;
        color: rgba(0,0,0,0.7);

        span {
            display: block;
            font-weight: 400;
        }
    }

    &__draws {
        display: block;
        font-size: 1.1rem;
    }

    &__pieWrap {
        width: 18rem;
        margin: auto;
    }

    &__players {
        position: relative;
        display: flex;

        .rivalry {
            &__stat {
                color: #eee;
                font-size: 2rem;
                font-weight: bold;
                text-transform: uppercase;
            }

            &__player1 {
                background-color: $p1;
            }

            &__player2 {
                background-color: $p2;
            }
        }

        & + .rivalry__stat {
            padding-bottom: 0;
        }
    }

    &__versus {
        position: absolute;
        font-size: 1.4rem;
        color: #fff !important;
        background-color: transparent;
        transform: translateX( -50% );
    }

    &__results {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: #585858;
        box-shadow: 0 1px 18px #111;
        border-radius: 6px;
    }

    &__result {
        margin: 0;
        padding: 1.6rem 0 1.4rem;
        font-size: 1.8rem;
        font-weight: 700;
        color: $body-text-color;
    }

    &__result + &__result {
        border-top: .3rem solid #333;
    }

    .scorebox {
        display: inline-block;
        margin: 0 1rem 1rem;
        padding: 0 1rem;
        background-color: $secondary-color;
        font-weight: 900;
        color: #fff;
        border-radius: .2rem;
    }

    &__date {
        display: block;
        font-size: 1.2rem;
        font-weight: 400;
        color: #bbb;
        text-transform: uppercase;
    }

    &__addResult {

        input[type=text] {
            width: 5rem;
            height: 3.6rem;
            padding: .6rem 0;
            text-align: center;
            color: #eee;
            background-color: #333;
            border: 0;
            border-radius: 3px;
            box-shadow: inset 0px 0px 2px #000;
        }

        input[type=submit] {
            display: block;
            width: 14rem;
            margin: 2rem auto 0;
            padding: 1rem 0;
            color: #fff;
            background-color: $primary-color;
            border: 0;
            border-radius: 4px;
            text-align: center;

            &:disabled {
                background-color: #333;
                color: #888;
            }
        }
    }
}