// ===============
// == Variables ==
// ===============

// Base text size
$pixelBase : 10;

// Colours
$primary-color: #fb404b;
$secondary-color: #60c4ce;
$white: #fff;
$grey: #eaeaea;
$highStreak: #05bb90;
$streak: #ffc942;

$body-bg: #232323;

$sidebar: #555;
$sidebar-text: #eee;

$winner: #05bb90;
$p1: $primary-color;
$p2: $secondary-color;

// Font colours
$body-text-color: #eee;

// Variables for site fonts
$heading-font: 'Source Sans Pro', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$body-font: 'Source Sans Pro', Arial, 'Helvetica Neue', Helvetica, sans-serif;
