// ===============
// == Variables ==
// ===============

// Base text size
$pixelBase : 10;

// Colours
$primary-color: #e90052;
$secondary-color: #38003c;
$white: #fff;
$grey: #eaeaea;

// Font colours
$body-text-color: #000;

// Variables for site fonts
$heading-font: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$body-font: Arial, 'Helvetica Neue', Helvetica, sans-serif;
