// ===============
// == Variables ==
// ===============

// Base text size
$pixelBase : 10;

// Colours
$primary-color: #f16649;
$secondary-color: #09b39c;
$white: #fff;
$grey: #eaeaea;
$highStreak: #78e3ad;
$streak: #f7ae66;

$body-bg: #f6f6f6;

$sidebar: #405189;
$sidebar-text: #eee;

$winner: #405189;
$p1: #f16649;
$p2: #09b39c;

// Font colours
$body-text-color: #333;

// Variables for site fonts
$heading-font: 'Source Sans Pro', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$body-font: 'Source Sans Pro', Arial, 'Helvetica Neue', Helvetica, sans-serif;
