<!DOCTYPE html>
<html>
    <head>
        <title>FIFA Rivalries</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="dist/css/main.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#232323">
        <link rel="manifest" href="manifest.json">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <div id="app" class="app">
            <div class="sidebar">
                <ul class="listing" v-cloak>
                    <li v-for="( rivalry, index ) in rivalries" :style="selectedItem( rivalry )">
                        <a href="#" v-on:click="viewRivalry( rivalry, index )">{{ rivalry.player1 }} vs {{ rivalry.player2 }}</a>
                    </li>
                    <!-- <li>
                        <input type="text" v-model="newP1" /><br/>
                        vs<br/>
                        <input type="text" v-model="newP2" />
                        <button v-on:click="addRivalry">Add+</button>
                    </li> -->
                </ul>
            </div>

            <section class="rivalry" v-cloak>

                <div class="rivalry__stats" v-if="selectedRivalry.results">

                    <div class="rivalry__players">
                        <span class="rivalry__stat rivalry__player1" :style="getStyle('p1')" v-if="p1.won > 0">{{ p2.won > 0 ? selectedRivalry.player1 : selectedRivalry.player1 + ' vs ' + selectedRivalry.player2 }}</span>
                        <span class="rivalry__stat rivalry__player2" :style="getStyle('p2')" v-if="p2.won > 0">{{ p1.won > 0 ? selectedRivalry.player2 : selectedRivalry.player1 + ' vs ' + selectedRivalry.player2 }}</span>
                        <span class="rivalry__stat rivalry__versus u-highlight" v-cloak :style="vsPos" v-if="p1.won > 0 && p2.won > 0">vs</span>
                    </div>

                    <div class="rivalry__header rivalry__stat">
                        <img :src="getEmoji( selectedRivalry.player1 )" />
                        <span>Played: {{ gamesPlayed() }}</span>
                        <img :src="getEmoji( selectedRivalry.player2 )" />
                    </div>

                    <div class="rivalry__stat">
                        <h3 class="c-heading--stat">Wins</h3>
                        <div class="rivalry__stat-row">
                            <span>{{ p1.won }}</span>
                            <span class="rivalry__stat-row-inner">
                                <span :style="getStatStyle( p1.won + p2.won, p1.won )" class="rivalry__stat-p1"></span>
                                <span :style="getStatStyle( p1.won + p2.won, p2.won )" class="rivalry__stat-p2"></span>
                            </span>
                            <span>{{ p2.won }}</span>
                        </div>
                    </div>

                    <div class="rivalry__stat">
                        <h3 class="c-heading--stat">Goals</h3>
                        <div class="rivalry__stat-row">
                            <span>{{ p1.goals }}</span>
                            <span class="rivalry__stat-row-inner">
                                <span :style="getStatStyle( p1.goals + p2.goals, p1.goals )" class="rivalry__stat-p1"></span>
                                <span :style="getStatStyle( p1.goals + p2.goals, p2.goals )" class="rivalry__stat-p2"></span>
                            </span>
                            <span>{{ p2.goals }}</span>
                        </div>
                    </div>

                    <div class="rivalry__stat">
                        <h3 class="c-heading--stat">Clean Sheets</h3>
                        <div class="rivalry__stat-row">
                            <span>{{ cleanSheets('player1') }}</span>
                            <span class="rivalry__stat-row-inner">
                                <span :style="getStatStyle( cleanSheets('player1') + cleanSheets('player2'), cleanSheets('player1') )" class="rivalry__stat-p1"></span>
                                <span :style="getStatStyle( cleanSheets('player1') + cleanSheets('player2'), cleanSheets('player2') )" class="rivalry__stat-p2"></span>
                            </span>
                            <span>{{ cleanSheets('player2') }}</span>
                        </div>
                    </div>

                    <div class="rivalry__stat">
                        <h3 class="c-heading--stat">Avg Goals per Game</h3>
                        <div class="rivalry__stat-row">
                            <span>{{ goalsPerGame('player1') }}</span>
                            <span class="rivalry__stat-row-inner">
                                <span :style="getStatStyle( goalsPerGame('player1') + goalsPerGame('player2'), goalsPerGame('player1') )" class="rivalry__stat-p1"></span>
                                <span :style="getStatStyle( goalsPerGame('player1') + goalsPerGame('player2'), goalsPerGame('player2') )" class="rivalry__stat-p2"></span>
                            </span>
                            <span>{{ goalsPerGame('player2') }}</span>
                        </div>
                    </div>

                    <div class="rivalry__stat rivalry__stat--biggest-win">
                        <h3 class="c-heading--stat">Biggest Win</h3>
                        <span>{{ biggestWin('player1') }}</span>
                        <span>{{ biggestWin('player2') }}</span>
                    </div>
                </div>

                <div class="rivalry__streaks">
                    <div class="rivalry__stat rivalry__stat--highStreak" v-if="selectedRivalry.results" v-html="getHighStreak()"></div>
                    <div class="rivalry__stat rivalry__stat--streak" v-if="selectedRivalry.results" v-html="getStreak()"></div>
                </div>

                <ol class="rivalry__results" v-if="selectedRivalry">
                    <li class="rivalry__addResult rivalry__result">
                        <form v-if="selectedRivalry.player1">
                            <label for="player1">{{ selectedRivalry.player1 }}</label>
                            <input type="text" name="player1" v-model="p1Score" /> - <input type="text" name="player2" v-model="p2Score" />
                            <label for="player2">{{ selectedRivalry.player2 }}</label>
                            <input type="submit" value="Add" v-on:click="addResult" :disabled="!p1Score || !p2Score" />
                        </form>
                    </li>
                    <li v-for="( result, index ) in orderedResults( selectedRivalry.results )" class="rivalry__result">
                        <span class="game-version">{{ result.date > 1569849025573 ? '20' : '17' }}</span>
                        <span v-bind:class="{ 'u-highlight': result.player1 > result.player2, 'u-lowlight': result.player2 > result.player1 }">{{ selectedRivalry.player1 }}</span> <span class="scorebox"><span class="rivalry__score">{{ result.player1 }}</span> - <span class="rivalry__score">{{ result.player2 }}</span></span> <span v-bind:class="{ 'u-highlight': result.player2 > result.player1, 'u-lowlight': result.player1 > result.player2 }">{{ selectedRivalry.player2 }}</span>
                        <span class="rivalry__date">{{ fixtureDate( result.date ) }} <a href="#x" v-on:click="deleteResult( $event, result )">x</a></span>
                    </li>
                </ol>
            </section>
        </div>
        <script src="js/libs/moment.js"></script>
        <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>

        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.4.0/firebase.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

        <script src="dist/js/app.js"></script>

        <script>
            if('serviceWorker' in navigator) {
              navigator.serviceWorker.register('sw.js')
                .then(function() {
                      console.log('Service Worker Registered');
                });
            }
          </script>
    </body>
</html>
