<!DOCTYPE html>
<html>
    <head>
        <title>FIFA Rivalries</title>
        <link rel="stylesheet" type="text/css" href="dist/css/main.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#e5127d">
    </head>
    <body>
        <div id="app" class="app">
            <ul class="listing" v-cloak>
                <li v-for="( rivalry, index ) in rivalries">
                    <a href="#" v-on:click="viewRivalry( rivalry, index )">{{ rivalry.player1 }} vs {{ rivalry.player2 }}</a>
                </li>
                <!-- <li>
                    <input type="text" v-model="newP1" /><br/>
                    vs<br/>
                    <input type="text" v-model="newP2" />
                    <button v-on:click="addRivalry">Add+</button>
                </li> -->
            </ul>

            <section class="rivalry" v-cloak>

                <div class="rivalry__stats" v-if="selectedRivalry.results">

                    <div class="rivalry__players">
                        <span class="rivalry__stat rivalry__player1" :style="getStyle('p1')">{{ selectedRivalry.player1 }}</span>
                        <span class="rivalry__stat rivalry__player2" :style="getStyle('p2')">{{ selectedRivalry.player2 }}</span>
                        <span class="rivalry__stat rivalry__versus u-highlight" v-cloak :style="vsPos">vs</span>
                    </div>
                    
                    <div class="rivalry__stat">Played: {{ gamesPlayed() }}</div>

                    <table>
                        <tr>
                            <td class="rivalry__stat">Wins</td>
                            <td class="rivalry__stat">Goals</td>
                        </tr>
                        <tr>
                            <td class="rivalry__stat">
                                <div class="rivalry__pieWrap">
                                    <canvas id="winsPie" class="rivalry__pie" width="400" height="400"></canvas>
                                </div>
                            </td>
                            <td class="rivalry__stat">
                                <div class="rivalry__pieWrap">
                                    <canvas id="goalsPie" class="rivalry__pie" width="400" height="400"></canvas>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <form class="rivalry__addResult" v-if="selectedRivalry.player1">
                    <label for="player1">{{ selectedRivalry.player1 }}</label>
                    <input type="number" name="player1" v-model="p1Score" /> - <input type="number" name="player2" v-model="p2Score" />
                    <label for="player2">{{ selectedRivalry.player2 }}</label>
                    <input type="submit" value="Add" v-on:click="addResult" />
                </form>

                <div class="rivalry__stat rivalry__stat--streak" v-if="selectedRivalry.results">{{ getStreak() }}</div>

                <ol class="rivalry__results" v-if="selectedRivalry.results">
                    <li v-for="( result, index ) in orderedResults( selectedRivalry.results )" class="rivalry__result">
                        {{ selectedRivalry.player1 }} <span class="rivalry__score">{{ result.player1 }}</span> - <span class="rivalry__score">{{ result.player2 }}</span> {{ selectedRivalry.player2 }}
                        <span class="rivalry__date">{{ fixtureDate( result.date ) }} <a href="#x" v-on:click="deleteResult( $event, index )">x</a></span>
                    </li>
                </ol>
            </section>
        </div>
        <script src="js/libs/moment.js"></script>
        <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>

        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.4.0/firebase.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

        <script src="dist/js/app.js"></script>
    </body>
</html>
