// ====================
// == Heading Styles ==
// ====================

// Dependencies - @include fheading() - /scss/utilities/mixins/_typography.scss

// =====
// All heading elements are styled by default to be just a bit bigger than body copy,
// and to have a consistent margin-bottom.
// All typographic treatments are handled with purpose-driven classnames, e.g. .c-heading--page
// https://csswizardry.com/2016/02/managing-typography-on-large-apps/
// =====
%h1, .h1, h1,
%h2, .h2, h2,
%h3, .h3, h3,
%h4, .h4, h4,
%h5, .h5, h5,
%h6, .h6, h6 {
    font-family: $heading-font;
    line-height: 1.3;
    margin: rem-calc(0 0 3);
    font-weight: normal;
}

// .c-heading--xx classes override the sizes given by default, and apply
// style specific to a use case from the design.

.c-heading--name {
    font-size: rem-calc(22);
    color: $white;
}
.c-heading--position {
    font-size: rem-calc(16);
    color: $white;
}
